<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option value="all-chat" data-target="#all-chat">Toàn bộ trò chuyện</option>
                <option value="user-chat" data-target="#user-chat">Trò chuyện cá nhân</option>
                <option value="group-chat" data-target="#group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <%allConversationswithMessages.forEach(function(conversation){%> <%if(conversation.menbers){%>
                    <a href="#uid_<%=conversation._id%>" class="room-chat" data-target="#to_<%=conversation._id%>">
                        <li class="person group-chat" data-chat="<%=conversation._id%>">
                            <div class="left-avatar">
                                <!-- <div class="dot"></div> -->
                                <img src="images/users/group-avatar-trungquandev.png" alt="" />
                            </div>
                            <span class="name">
                                <span class="group-chat-name">
                                    <%if(conversation.name.length > 15){%> <%=conversation.name.substr(0,11)%><span>...</span>
                                    <%}else{%> <%=conversation.name%> <%}%>
                                </span>
                            </span>
                            <span class="time">
                                <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt)%>
                            </span>
                            <span class="preview">
                                <%if(lastItemOfArray(conversation.messages).messageType === "text"){%> <%=
                                lastItemOfArray(conversation.messages).text%> <%}%> <%if(lastItemOfArray(conversation.messages).messageType
                                === "image"){%> Hình ảnh ... <%}%> <%if(lastItemOfArray(conversation.messages).messageType === "file"){%>
                                Tệp đính kèm ... <%}%>
                            </span>
                        </li>
                    </a>
                    <%}else{%>
                    <a href="#uid_<%=conversation._id%>" class="room-chat" data-target="#to_<%=conversation._id%>">
                        <li class="person" data-chat="<%=conversation._id%>">
                            <div class="left-avatar">
                                <div class="dot"></div>
                                <img src="images/users/<%=conversation.avatar%>" alt="" />
                            </div>
                            <span class="name">
                                <%=conversation.username%>
                            </span>
                            <span class="time"> <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt)%> </span>
                            <span class="preview">
                                <%if(lastItemOfArray(conversation.messages).messageType === "text"){%> <%=
                                lastItemOfArray(conversation.messages).text%> <%}%> <%if(lastItemOfArray(conversation.messages).messageType
                                === "image"){%> Hình ảnh ... <%}%> <%if(lastItemOfArray(conversation.messages).messageType === "file"){%>
                                Tệp đính kèm ... <%}%>
                            </span>
                        </li>
                    </a>
                    <%}%> <% })%>
                </ul>
                <hr />
                <div class="read-more-all-chat">
                    <a href="javascript:void(0)" id="link-read-more-all-chat">
                        <strong>Xem thêm 10 bạn bè</strong>
                    </a>
                </div>
                <div class="read-more-contacts-loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="tab-pane" id="user-chat">
                <ul class="people no-padding-start">
                    <%allConversationswithMessages.forEach(function(userConversation){%> <%if(!userConversation.menbers){%>
                    <a href="#uid_<%=userConversation._id%>" class="room-chat" data-target="#to_<%=userConversation._id%>">
                        <li class="person" data-chat="<%=userConversation._id%>">
                            <div class="left-avatar">
                                <div class="dot"></div>
                                <img src="images/users/<%=userConversation.avatar%>" alt="" />
                            </div>
                            <span class="name">
                                <%if(userConversation.username.length > 15){%> <%=userConversation.username.substr(0,11)%><span>...</span>
                                <%}else{%> <%=userConversation.username%> <%}%>
                            </span>
                            <span class="time">
                                <%= convertTimestampToHumanTime(lastItemOfArray(userConversation.messages).createdAt)%>
                            </span>
                            <span class="preview">
                                <%if(lastItemOfArray(userConversation.messages).messageType === "text"){%> <%=
                                lastItemOfArray(userConversation.messages).text%> <%}%>
                                <%if(lastItemOfArray(userConversation.messages).messageType === "image"){%> Hình ảnh ... <%}%>
                                <%if(lastItemOfArray(userConversation.messages).messageType === "file"){%> Tệp đính kèm ... <%}%>
                            </span>
                        </li>
                    </a>
                    <%}%> <%})%>
                </ul>
                <hr />
                <div class="read-more-user-chat">
                    <a href="javascript:void(0)" id="link-read-more-user-chat">
                        <strong>Xem thêm 10 bạn bè</strong>
                    </a>
                </div>
                <div class="read-more-contacts-loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <%allConversationswithMessages.forEach(function(groupConversation){%> <%if(groupConversation.menbers){%>
                    <a href="#uid_<%=groupConversation._id%>" class="room-chat" data-target="#to_<%=groupConversation._id%>">
                        <li class="person group-chat" data-chat="<%=groupConversation._id%>">
                            <div class="left-avatar">
                                <!-- <div class="dot"></div> -->
                                <img src="images/users/group-avatar-trungquandev.png" alt="" />
                            </div>
                            <span class="name">
                                <span class="group-chat-name">
                                    <%if(groupConversation.name.length > 15){%> <%=groupConversation.name.substr(0,11)%><span>...</span>
                                    <%}else{%> <%=groupConversation.name%> <%}%>
                                </span>
                            </span>
                            <span class="time">
                                <%= convertTimestampToHumanTime(lastItemOfArray(groupConversation.messages).createdAt)%>
                            </span>
                            <span class="preview">
                                <%if(lastItemOfArray(groupConversation.messages).messageType === "text"){%> <%=
                                lastItemOfArray(groupConversation.messages).text%> <%}%>
                                <%if(lastItemOfArray(groupConversation.messages).messageType === "image"){%> Hình ảnh ... <%}%>
                                <%if(lastItemOfArray(groupConversation.messages).messageType === "file"){%> Tệp đính kèm ... <%}%>
                            </span>
                        </li>
                    </a>
                    <%}%> <%})%>
                </ul>
                <hr />
                <div class="read-more-group-chat">
                    <a href="javascript:void(0)" id="link-read-more-group-chat">
                        <strong>Xem thêm 10 bạn bè</strong>
                    </a>
                </div>
                <div class="read-more-contacts-loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
